extends layout

block content
  style.
    :root {
      --color-bg: white;
      --color-fg: black;
    }

    body {
      counter-reset: article title; /* Article countinuous*/
    }

    details {
      cursor: pointer;
      margin-left: 1rem;
    }
    details>

    .title, .title details { list-style-type: none; }
    .title { counter-reset: subtitle chapter;}
    .title>summary:before {
      counter-increment: title;
      content: 'Title ' counter(title, upper-roman) '. ';
    }

    .subtitle { counter-reset: chapter}
    .subtitle>summary:before {
      counter-increment: subtitle;
      content: 'Subtitle ' counter(subtitle, upper-roman) '. ';
    }

    .chapter { counter-reset: part; }
    .chapter>summary:before {
      counter-increment: chapter;
      content: 'Chapter ' counter(chapter, decimal) '. ';
    }

    .part>summary:before {
      counter-increment: part;
      content: 'Part ' counter(part, decimal) '. ';
    }

    .clause { list-style-type: lower-latin }
  h1= title
  button(onclick='expAll()') Expand/Collapse all
  div!= data
  script.
    function expAll() {
      var list = document.getElementsByTagName("details");
      for (e of list) e.open = (e.open)? '' : 'true';
    }