extends layout

block content
  style.
    body {
      counter-reset: title article; /* Article countinuous*/
    }

    details {
      margin-left: 1rem;
    }
    details[open] {
      padding-bottom: 1rem
    }
    details>summary{
      cursor: pointer;
    }
    details[open]>summary {
      color: var(--color-theme);
    }

    .title, .title details { list-style-type: none; }
    .title { counter-reset: subtitle chapter;}
    .title>summary {
      font-size: 20px;
    }
    .title>summary:before {
      counter-increment: title;
      content: 'Title ' counter(title, upper-roman) '. ';
    }

    .subtitle { counter-reset: chapter}
    .subtitle>summary:before {
      counter-increment: subtitle;
      content: 'Subtitle ' counter(subtitle, upper-roman) '. ';
    }

    .chapter { counter-reset: part; }
    .chapter>summary:before {
      counter-increment: chapter;
      content: 'Chapter ' counter(chapter, decimal) '. ';
    }

    .part>summary:before {
      counter-increment: part;
      content: 'Part ' counter(part, decimal) '. ';
    }

    .schedules>summary{
      font-size: 20px;
    }

    .schedule>summary:before {
      counter-increment: schedule;
      content: 'Schedule ' counter(schedule, decimal) '. ';
    }

    .article>p {
      margin: 0 0 0 1rem;
    }
    .article>code {
      margin-left: 1rem;
    }

    .clause { list-style-type: lower-latin }
  h1= title
  button(onclick='expAll()') Expand/Collapse all
  div!= data
  script.
    function expAll() {
      var list = document.getElementsByTagName("details");
      for (e of list) e.open = (e.open)? '' : 'true';
    }
    
    // if there is article link in the location
    if (window.location.hash) expAll();
    